<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title></title>
    </style>
<!--    <link rel="stylesheet" href="{%static "css/sinfo.css" %}">-->
</head>
<body>
   <h1>Ascent Student Information</h1>
   <hr>
    <img src="{%static 'image/download.jpg'%}" >
    <img src="{%static 'image/download.jpg'%}" >
   {% if student %}
     <table border=" ">
         <thead>
         <th>Student Name</th>
         <th>Student age</th>
         <th>Student Address</th>
         </thead>
         {% for st in student %}
             <tr>
                 <td>{{st.sname}}</td>
                 <td>{{st.sage}}</td>
                 <td>{{st.saddr}}</td>

             </tr>
         {%endfor%}
     </table>
     {%else%}
         <p> No Student Records Found!!!</p>
     {%endif%}
   </body>
</html>
